<p id="notice"><%= notice %></p>


<p>
  <b>Picture:</b>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<p> 
  <strong> Key1: </strong>
  <%= @idea.keyword1 %> 
</p>
<p> 
  <strong> score1: </strong>
  <%= @idea.score1 %> 
</p>
<p> 
  <strong> Key2: </strong>
  <%= @idea.keyword2 %> 
</p>
<p> 
  <strong> score2: </strong>
  <%= @idea.score2 %> 
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
