<p id="notice"><%= notice %></p>

<div class="col-md-12">
<p>
<%= image_tag(@idea.picture_url, :width => 400, :class => "img-rounded center-block", :alt => "Cinque Terre") if @idea.picture.present? %>
</p>
</ br>
</div>

<div class="col-md-12 set-center">
<% unless @idea.keyword1.nil? %>
<h1 class="center-block">Is it a <%= @idea.keyword1 %> ?</h1>
<h4 class="center-block">We are <%= @idea.score1 %> sure.</h3>
<% end %>
<% unless @idea.keyword2.nil? %>
<h2 class="center-block">Or is it a <%= @idea.keyword2 %> ?</h1>
<h4 class="center-block">We are <%= @idea.score2 %> sure.</h3>
<% end %>
<% if @idea.keyword1.nil? and @idea.keyword2.nil? %>
<h2 class="center-block">Hmm...we don't know what it is...</h1>
<% end %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
</div>
