<article>

 <h3><%= @post.title %></h3><p class="date"><%= @post.created_at.to_s(:postdate) %></p><br>

<p><%= @post.body %></p>

<ul class="postmenu">
  <li><%= link_to 'Edit', edit_post_path(@post) %></li>  
  <li><%= link_to 'Back', "/" %></li>
</ul>

</article>
